/*
    FlashLife [FR-V2]
    -----------------

    HTML créer par Nishikoto__ et KLF_francky
    Site web créer par Nishikoto__ et KLF_francky
*/

/* -- Body -- */

body {
    background-color: #272727;
    width: 1024px;
    margin: auto;
    color: white;
    margin-bottom: 20px;
}
/* -- Header -- */
header{
    display: inline block;
}

/* -- NAV -- */

nav{
    text-align: center;
    display: inline-block;
    float: right;
    margin-right: 400px;
    position: relative;
    top: 60px;
    left: 50px;
}
nav a{
    color: white;
    padding: 10px;
    text-decoration: none;
}

.logoapp{
    width: 150px;
    position: relative;
    top: auto;
    left: auto;
}

/* -- Page HTML -- */
.acc{
    background-color: white;
    border: none;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: auto;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    top: -100px;
    left: 350px;
}

.joinpage{
    background-color: white;
    border: none;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: auto;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    top: -100px;
    left: 350px;
}

.contactpage{
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: auto;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    top: -100px;
    left: 350px;
}

h1 {
    text-align: center;
}

/* -- page descriptif page join -- */
.description
{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 1.05em;
    position: relative;
    top: 190px;
    left: auto;
}

/* -- Parach -- */
.parach1-join {
    text-align: center;
    position: relative;
    top: auto;
    left: auto;
}

/* -- Fl-lf -- */
.fl{
    color: red;
}
.lf{
    color: rgb(0, 217, 255);
}

/* --- Contact --- */

.discordcontact a
{
    text-decoration: none;
}

.bold a {
    text-decoration: none;
    font-weight: bold;
}

/* --Bouton page join-- */
.joindiscord{
    background-color: rgb(87, 93, 248);
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: auto;
    cursor: pointer;
    border-top-left-radius: 25px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 25px;
    position: relative;
    top: auto;
    left: 420px;
}

/* --- Bas de la Page --- */
.foot{
    text-align: center;
    position: relative;
    top: -190px;
    left: auto;
}

/* --- Divers --- */

.dollars{
    color: green;
    font-weight: bold;
}

/* --- img --- */
.lspd{
    width: 150px;
    position: relative;
    top: auto;
    left: 360px;
}

.ems{
    width: 150px;
    position: relative;
    top: auto;
    left: 370px;
}

.pdm{
    width: 150px;
    position: relative;
    top: auto;
    left: 220px;
}

.gouv{
    width: 150px;
    position: relative;
    top: auto;
    left: 370px;
}

.avoc{
    width: 150px;
    position: relative;
    top: auto;
    left: 360px;
}

.wn{
    width: 150px;
    position: relative;
    top: -20px;
    left: 220px;
}

.taxi{
    width: 150px;
    position: relative;
    top: auto;
    left: 220px;
}

.imo{
    width: 150px;
    position: relative;
    top: -40px;
    left: 220px;
}

/* -- divers -- */
.title-dev {
    text-align: center;
}

.kevin-img {
    width: auto;
    position: relative;
    top: auto;
    left: auto;
}

.gesix-img {
    width: auto;
    position: relative;
    top: auto;
    left: 320px;
}

.avatar-base {
    width: 130px;
    position: relative;
    top: auto;
    left: 600px;
}

/* -- Pseudos -- */
.XP {
    position: relative;
    top: auto;
    left: 30px;
    font-family: Impact, sans-serif;
    font-size: 1.5em;
}

.G {
    position: relative;
    top: -58px;
    left: 490px;
    font-family: Impact, sans-serif;
    font-size: 1.5em;
}

.A {
    position: relative;
    top: -120px;
    left: 900px;
    font-family: Impact, sans-serif;
    font-size: 1.5em;
}